
@media (max-width: 992px) {
  #navbarSupportedContent {
    opacity: 1;
    transform: none;
  }

  .custom_nav-container .navbar-toggler {
    margin-left: auto;
  }

  .custom_nav-container {
    padding: 15px 0;
    height: auto;
  }

}

@media (max-width: 768px) {
  .slider_section .img-container {
    justify-content: center;
  }
  .client_section .client_container {
    flex-direction: column;
  }

  .client_section .client_box.b-1 {
    margin-bottom: 45px;
  }
  .contact_section .map_container {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}