body {
  font-family: 'Open Sans', sans-serif;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}


.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading_container h2 {
  color: #252525;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.heading_container h2::before {
  content: "";
  width: 60px;
  height: 3px;
  position: absolute;
  top: 50%;
  right: -5px;
  background-color: #24d278;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}
.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 15px;
  color: #060606;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
  color: #24d278;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.custom_nav-container form {
  padding-top: 7px;
}

.navbar-brand {
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 70px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
  height: 70px;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 50px;
  width: 30px;
  height: 30px;
}
.lg_toggl-btn:focus {
  outline: none;
}

.login_btn-container {
  padding-top: 30px;
}

.login_btn-container a {
  color: #24d278;
  text-transform: uppercase;
}

.slider_section .container {
  position: relative;
  z-index: 2;
}

.slider_section .img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider_section .img-container .img-box {
  width: 250px;
}

.slider_section .img-container .img-box img {
  width: 100%;
}
.trending_section .tab_container .t-link-box {
  margin: 65px 0;
  color: #24d278;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.trending_section .tab_container .t-link-box h5 {
  margin: 0;
}

.trending_section .tab_container .t-link-box hr {
  background-color: #24d278;
  width: 60px;
  height: 1.5px;
  border: none;
  margin: 0 65px 0 5px;
}

.trending_section .tab_container .t-link-box .t-name {
  color: #252525;
}

.trending_section .tab_container .t-link-box:hover {
  cursor: pointer;
}

.trending_section .tab_container .t-link-box[aria-expanded="true"] .t-name {
  color: #24d278;
}

.trending_section .img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trending_section .img_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trending_section .img_container .box .img-box {
  margin: 15px;
}

.trending_section .img_container .box .img-box img {
  width: 100%;
}

.trending_section .img_container .box.b-1 {
  padding-top: 35px;
}


.brand_section .brand_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.brand_section .brand_container .box {
  position: relative;
  text-align: center;
  background-color: #e4e5e9;
  padding: 75px 35px 10px 35px;
  margin: 30px 10px 0 10px;
  min-width: 225px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.24670%;
          flex: 0 0 23.24670%;
}

.brand_section .brand_container .box h6 {
  color: #252525;
}

.brand_section .brand_container .box h6.price {
  color: #24d278;
}

.brand_section .brand_container .box .new {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 35px;
  background-color: #252525;
  color: #ffffff;
}

.brand_section .brand_container .box .new h6 {
  margin: 0;
}

.brand_section .brand_container .box .img-box img {
  width: 100%;
}

.brand_section .brand_container .box:hover {
  background-color: #24d278;
}

.brand_section .brand_container .box:hover h6.price {
  color: #252525;
}
.contact_section .map_container {
  height: 100%;
  padding-bottom: 110px;
}

.contact_section .map_container .map-responsive {
  height: 100%;
}

.client_section .custom_heading-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client_section .client_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.client_section .client_box {
  margin-left: 25px;
  margin-right: 25px;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
}

.client_section .client_box .client-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .client_box .client-id .img-box img {
  width: 100%;
}

.client_section .client_box .client-id .name {
  margin-left: 15px;
}

.client_section .client_box .client-id .name h5 {
  font-weight: bold;
}

.client_section .client_box .client-id .name p {
  color: #24d278;
  margin: 0;
}

.client_section .client_box .detail {
  margin-top: 25px;
}

.client_section .client_box:hover {
  background-color: #f3f3f3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.client_section .client_box:hover .arrow_img {
  background-image: url(../images/arrow-green.png);
}

.client_section .client_box .arrow_img {
  width: 50px;
  height: 30px;
  background-image: url(../images/arrow.png);
  background-size: 25px;
  background-repeat: no-repeat;
}

.info_section .info_insta .insta_container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_insta .insta_container img {
  width: 100%;
}

.info_section .info_insta .insta_container .insta-box {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}